services:
  lucee:
    image: lucee/lucee:latest
    ports:
      - "8080:8888"
    volumes:
      - .:/var/www
    environment:
      - LUCEE_ENV=production
    networks:
      - debounce-network

  cron-worker:
    build:
      context: ./cron-worker
      dockerfile: DockerFile
    container_name: lucee-api-scheduler
    networks:
      - debounce-network
    restart: always 

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - debounce-network

networks:
  debounce-network:
    driver: bridge