services:
  lucee:
    image: lucee/lucee:latest
    ports:
      - "8080:8888"
    volumes:
      - .:/var/www
    environment:
      - LUCEE_ENV=production
    networks:
      - debounce-network

networks:
  debounce-network:
    driver: bridge